.delete-confirm-popup {
    background-color: rgb(157, 209, 226);
    padding: 20px;
    align-content: center;
    border-style: solid;
    border-color: black;
    max-width: 300px;
    border-radius: 6px;
}

.delete-confirm-popup button {
  appearance: none;
  background-color: lightblue;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

.delete-confirm-popup button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.delete-confirm-popup button:hover {
  background-color: rgb(126, 184, 203);
}

.delete-confirm-popup button:focus {
  box-shadow: rgb(86, 157, 181) 0 0 0 3px;
  outline: none;
}

.delete-confirm-popup button:active {
  background-color: rgb(86, 157, 181);
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.currency-wrap {
  position:relative;
}

.currency-code {
    position:absolute;
		left:8px;
		top:10px;
}

.add-expense-submit {
  position: absolute;
  left: 40px;
  top: 70px;
  background-color: lightblue;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

.add-expense-submit:hover {
  background-color: rgb(126, 184, 203);
}

.add-expense-submit:active {
  background-color: rgb(86, 157, 181);
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
