.totalContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 40px 30px auto;
  grid-template-areas: 
    "d d d ds ds"
    "i i c ci ci"
    ". . . cs cs"
    "e e e e e";
  grid-gap: 5px;

  width: 90%;
  margin-left: 2.5rem;
  margin-top: 2.5rem;
  background-color:lightblue;
  padding: 20px;
  border-radius: 13px;
}

.back-to-dateselector-btn {
  grid-area: ds;
  position: relative;
  top: -5px;
  left: 100px;
  background-color: rgb(126, 184, 203);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  width: 150px;
  color: black;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

.back-to-dateselector-btn:hover {
  background-color: rgb(105, 166, 187);
}

.back-to-dateselector-btn:active {
  background-color: rgb(86, 157, 181);
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.back-to-dateselector-btn:hover {
  background-color: rgb(105, 166, 187);
}

.back-to-dateselector-btn:active {
  background-color: rgb(86, 157, 181);
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.category-input-container {
  grid-area: ci;
  position: relative;
  grid-template-columns: 2rem 2rem;
  grid-template-rows: 2rem 2rem;
  grid-template-areas: 
  "a a"
  "b b";
            
  left: -20px;
  margin-left: 2px;
}

.category-input {
  padding: 6px;
  height: 24px;
  width: 316px;
}


.submit-category-btn {
  grid-area: cs;
  position: relative;
  left: -20px;
  background-color: rgb(126, 184, 203);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

.submit-category-btn:hover {
  background-color: rgb(105, 166, 187);
}

.submit-category-btn:active {
  background-color: rgb(86, 157, 181);
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.submit-category-btn:hover {
  background-color: rgb(105, 166, 187);
}

.submit-category-btn:active {
  background-color: rgb(86, 157, 181);
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.expenseInput {
  position: fixed;
  background-color: rgb(157, 209, 226);
  padding: 20px;
  align-content: center;
  border-style: solid;
  border-color: black;
  max-width: 400px;
  min-width: 400px;
  border-radius: 6px;
  height: 200px;
}

.add-expense-btn {
  grid-area: i;
  appearance: none;
  background-color: rgb(126, 184, 203);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

.add-category-btn {
  grid-area: c;
  appearance: none;
  background-color: rgb(126, 184, 203);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

.add-category-btn:hover {
  background-color: rgb(105, 166, 187);
}

.add-category-btn:active {
  background-color: rgb(86, 157, 181);
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.add-expense-btn:hover {
  background-color: rgb(105, 166, 187);
}

.add-expense-btn:active {
  background-color: rgb(86, 157, 181);
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.expenseInput input {
  width: 212px;
  padding: 8px 8px;
  margin: 5px;
}

.expenseInput select {
  width: 230px;
  padding: 8px 14px;
  margin: 5px;
}

.expenseInput input[type=number] {
  width: 50%;
  padding: 8px 14px;
  margin: 5px;
}

.expenseInput .close-button {
  position: absolute;
  left: 390px;
  top: 12px;
}

.expensesContainer {
  background-color: rgb(126, 184, 203);
  border-radius: 13px;
  grid-area: e;
  padding: 20px;
}

.expensesElement {
  background-color: rgb(86, 157, 181);
  padding: 7px;
  border-radius: 9px;
  margin-top: 15px;
  display: table;
  min-width: 200px;
}

.expensesElement p {
  display: inline;
}

.expense-amount {
  background-color: rgb(134, 201, 224);
  padding: 2px;
  display: inline;
  margin-left: 4px;
  border-radius: 6px;

}

.close-button {
  float: right;
  margin-left: 14px;
  border-radius: 100%;
  cursor: pointer;
}

.dateSelected {
  font-weight: bolder;
  position: relative;
  top: -15px;
}





