.totalContainer-date-selector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 40px 30px auto;
    grid-template-areas: 
      ". . . ."
      "l . . ."
      "s . . ."
      "g g g g";
    grid-gap: 5px;
  
    width: 90%;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    background-color:lightblue;
    padding: 20px;
    border-radius: 13px;
  }

.graph-container {
  grid-area: g;
  margin-left: 10px;
}


.selector-label {
    grid-area: l;
}

input [type=date] {
    grid-area: s;

}

.select-date-btn {
    background-color: rgb(126, 184, 203);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
}

.select-date-btn:hover {
    background-color: rgb(105, 166, 187);
  }
  
  .select-date-btn:active {
    background-color: rgb(86, 157, 181);
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
  
  .select-date-btn:hover {
    background-color: rgb(105, 166, 187);
  }
  
  .select-date-btn:active {
    background-color: rgb(86, 157, 181);
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }